<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="/style.css">
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <title>{{ title }}</title>
</head>
<body>
    {% include 'header.njk' %}

    <main>
    {{ content | safe }}
    </main>
    {# لازم تضيف الSave عشان مياخدش الكود كا String #}

    {# {{}} = grap information, {%%} = grap a file #}

    {% include 'footer.njk' %}

    <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
  
</body>
</html>
<script>
  document.getElementById("year").innerHTML = `${new Date().getFullYear()}`
  document.getElementById("company").innerHTML = `HamzaDev`
</script>
{# دي بنستخدمها عشان نحول المشروع ل تمبلت وزيها زي JSX #}